# Dependencies
node_modules/
.pnp
.pnp.js

# Nx
.nx/
.nx/cache/
dist/
tmp/
*.local

# Next.js
.next/
out/
.vercel/
.vercel
next-env.d.ts

# Production builds
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/
*.lcov

# TypeScript
*.tsbuildinfo
*.tsbuildinfo.*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Database
*.sqlite
*.sqlite3
*.db

# Misc
.cache/
.parcel-cache/
*.pem


*.ipynb
/apps/despense-agent/.venv/
/apps/despense-agent/__pycache__/
/apps/despense-agent/.env