DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=despens
NEXT_PUBLIC_OPTIMAL_STOCK_DAYS=10
NEXT_PUBLIC_CRITICAL_STOCK_THRESHOLD=20
NEXT_PUBLIC_WARNING_STOCK_THRESHOLD=40
AGENT_API_TOKEN=your-secret-token-here
PURCHASE_DURATION_DAYS=10
